@import '../../layout';

.contact {
    background: white;
    padding: $container-side-margin;
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;


    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    @media only screen and (max-width: 450px) {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .thankMessage {
        text-align: center;
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .companyInfo {
        margin-left: 7rem;

        @media only screen and (max-width: 1000px) {
            width: 100%;
            margin-left: 0px;
            margin-top: 5rem;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }

        p {
            font-size: 1.6rem;

            &:first-of-type {
                margin-bottom: 2rem;
            }
        }
    }

    .map {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 500px;
        height: 300px;
        border: 0;
        box-shadow: 1px 1px 1px 1px;

        @media only screen and (max-width: 1200px) {
            width: 300px;
        }

        @media only screen and (max-width: 1000px) {
            width: 500px;
        }

        @media only screen and (max-width: 800px) {
            width: 400px;
        }

        @media only screen and (max-width: 600px) {
            width: 250px;
            height: 200px;
        }
    }


    form {


        .container {
            @media only screen and (max-width: 1000px) {
                display: flex;
            }

            @media only screen and (max-width: 750px) {
                flex-direction: column;
            }
        }

        .messageAndSubmit {

            @media only screen and (max-width: 750px) {
                display: flex;
                flex-direction: column;
            }

            label {
                display: inline-block;
                margin-bottom: .5rem;
            }

            @media only screen and (max-width: 1000px) {
                margin-left: 5rem;
            }

            @media only screen and (max-width: 750px) {
                margin-left: 0px;
            }
        }

        .customerInfo {
            display: flex;
            flex-direction: column;

        }

        h2 {
            font-size: 3.5rem;
            color: rgb(32, 123, 197);
            margin-top: 2rem;
            margin-bottom: 2rem;

            @media only screen and (max-width: 600px) {
                font-size: 3rem;
            }
        }

        label {
            font-size: 1.6rem;
            color: rgb(85, 85, 85);
            font-weight: bold;
            margin-bottom: .5rem;
        }


        input[type="text"],
        input[type="email"] {
            font-size: 1.6rem;
            background-color: white;
            border-radius: 4px;
            padding: 8px;
            margin-bottom: 2rem;
            max-width: 30rem;
        }

        textarea {
            height: 15rem;
            min-width: 30rem;
            width: 30vw;
            padding: 8px;

        }

        input[type="text"],
        input[type="email"],
        textarea {
            border: 1px solid rgba(0, 0, 0, 0.3);
            font-family: inherit;
            transition: all .2s;

            &:focus {
                border: 1px solid rgb(32, 123, 197);
                outline: none;
                box-shadow: 0px 0px 5px 0px rgb(32, 123, 197, 0.7);
            }

            &:invalid:focus {
                border: 1px solid rgb(255, 0, 0);
                outline: none;
                box-shadow: none;
            }
        }


        button {
            font-size: 1.6rem;
            box-sizing: border-box;
            border: none;
            background-color: rgb(32, 123, 197);
            color: white;
            padding: 1rem 2rem;
            cursor: pointer;
            border-radius: 8px;
            margin: 2rem 0;

            &:disabled {
                background-color: rgb(87, 87, 87);
            }
        }
    }
}