@import '../../layout';

.about {
    background: white;
    padding: $container-side-margin;
    padding-bottom: 0px;
    text-align: center;

    h1,
    p {
        text-align: center;
    }

    h1 {
        margin-bottom: 5rem;
    }

    p {
        font-size: 2.5rem;
    }
}

.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .logo {
        max-width: 15rem;

        &:last-of-type {
            width: 300px;
            max-width: 30rem;
        }
    }

}