@import '../../layout';

.about {
    background: white;
    padding: $container-side-margin;
    text-align: center;

    h1,
    p {
        text-align: center;
    }

    h1 {
        margin-bottom: 2rem;
    }

    p {
        font-size: 3rem;
    }
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-around;
}