@import '../../styles/layout';


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    @media only screen and (max-width: 600px) {
        position: relative;
        height: auto;
        align-items: flex-start;
        flex-direction: column;
    }
}

.logo {
    z-index: 100;
    width: 20rem;

    @media only screen and (max-width: 750px) {
        width: 15rem;
    }
}


.nav ul {
    margin-right: 5vw;
    font-size: 1.6rem;
    text-transform: uppercase;
    list-style-type: none;

    transition: all .2s ease;
    overflow: hidden;

    @media only screen and (max-width: 600px) {
        font-size: 2.5rem;
        font-weight: 900;


        margin: -2rem -4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li {
        display: inline-block;

        @media only screen and (max-width: 600px) {
            margin-bottom: 5rem;
        }

        &:not(:last-of-type) {
            margin-right: 3rem;

            @media only screen and (max-width: 600px) {
                margin-right: 0;
            }
        }

        .link {
            text-decoration: none;
            color: white;
            position: relative;
            display: inline-block;
            padding: 0.7rem 0;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: white;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.2s ease-in-out 0s;
            }

            &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }



    @media only screen and (max-width: 600px) {
        background: rgba(0, 53, 97, 1);
        width: 100%;
        padding-right: 8vw;
        display: flex;
        flex-direction: column;
    }


    &.navClosed {
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    &.navOpen {
        @media only screen and (max-width: 600px) {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            padding-bottom: 5rem;
            height: 100vh;
            width: 100%;
        }

    }

}

.navButton {
    display: block;
    position: absolute;
    right: 10px;
    top: 65px;
}



// hamburger nav button

input[type="checkbox"] {
    display: none;
    width: 0;
    height: 0;

    &:checked+.navButton span {
        height: 0;
    }

    &:checked+.navButton span::before {
        transform: rotate(-45deg);
        top: 0;
    }

    &:checked+.navButton span::after {
        transform: rotate(45deg);
        top: 0;
    }
}


.navButton span,
.navButton span::before,
.navButton span::after {
    z-index: 100;
    width: 3rem;
    height: .3rem;
    background: white;

}


.navButton {
    display: none;

    @media only screen and (max-width: 600px) {
        margin-left: auto;
        cursor: pointer;
        display: inline-block;

        & span {
            display: inline-block;
            position: relative;

            &::before,
            &::after {
                position: absolute;
                display: inline-block;
                transition: all 0.2s ease;
                content: '';
            }

            &::before {
                top: -.7rem;
            }

            &::after {
                top: .7rem;
            }
        }
    }
}